# Your DevRev organization slug (the part after app.devrev.ai/ in your DevRev URL)
DEV_ORG=my-org

# Your email address
USER_EMAIL=my@email.com

# Environment
ENV=dev|qa|prod

# TODO: add External system specific variables that will be replaced in the Fixture tests that you want to run.
TODO_API_KEY=test-api-key
